NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyD8Bcf28iELxltiDzEbLIO6LF4SuAx2pj8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nexora-f50db.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nexora-f50db
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nexora-f50db.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=476639252277
NEXT_PUBLIC_FIREBASE_APP_ID=1:476639252277:web:e7431343348be88303c67c
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-NF0HFBWK4Y